/********************* Navigation ***********************/
.name{
	color: grey;
	font-family: 'Sacramento', cursive;
	font-size: 40px;
}	


li a{
	padding: 5px 10px;
	color: grey;
	transition: ease-in-out all 300ms;
}

li a:hover{
	color: white;
	background-color: #ADD8E6;
	border: solid 2px white ;
	border-radius: 5px;
	transform: translate(0px, -10px);
}

.hinzu{
	background-color: #ADD8E6;
	margin-top: 30px;

}

.colhead{
	color:#008080 ;
	text-shadow: 2px 2px 4px #000000; 
	margin: 20px 0px 10px 0px;
	text-align: center;
}


.columsBooks{
	border: lightcoral 4px solid;
	border-radius: 15px;
	background-color: #f2f2f2;
}

.columsDvd{
	border: #008080 4px solid;
	border-radius: 15px;
	background-color: #f2f2f2;
}

.pic{
	display: flex; 
	justify-content: center;
}

img{
	border: 1px solid;
	margin-top: 10px;
	padding: 6px;
	box-shadow: 4px 8px #888888;
}

.imgBooks{
	width: 80%;
	height: 400px;
}

.imgDvds{
	width: 70%;
	height: 400px;
}
.details{
	border:  1px solid lightgrey;
	border-radius: 5px;
	box-shadow: 2px 4px #888888;
	padding: 6px;
}

.ratandstars{
	display: flex;
	align-items: center ; 
}

.btnrating{
	border-radius: 10px;

}

.rating{
	padding-bottom: 20px;
}

.stars{
	padding-bottom: 50px;
}
/********************* Footer ***********************/
footer{
	padding: 20px 20px 20px 20px;
	margin-top: 30px;
}
center{
	color: white;
	font-family: 'Exo 2', sans-serif;
}
